# ================================
# API EXTERNA
# ================================

EXTERNAL_API_TOKEN=your_external_api_token
EXTERNAL_API_KEY=your_external_api_key
INTERNAL_API_TOKEN=your_internal_api_token

# ================================
# API CDR
# ================================

API_BASE_URL=https://example.com/api/cdr

# ================================
# REDIS / CELERY
# ================================

REDIS_URL=redis://localhost:6379/0

# ================================
# NEXTRouter LOGIN
# ================================

USERNAME=your_username
PASSWORD=your_password

# ================================
# MICROSOFT GRAPH (EMAIL)
# ================================

GRAPH_TENANT_ID=your_tenant_id
GRAPH_CLIENT_ID=your_client_id
GRAPH_CLIENT_SECRET=your_client_secret

# ================================
# EMAIL
# ================================

EMAIL_FROM=monitor@example.com
EMAIL_TO=destinatario@example.com

# ================================
# MONITORAMENTO SIP
# ================================

LIMITE_COMPLETAMENTO=5