# ===============================
# API EXTERNA
# ===============================

EXTERNAL_API_TOKEN=your_external_api_token
EXTERNAL_API_KEY=your_external_api_key
INTERNAL_API_TOKEN=your_internal_api_token
API_BASE_URL=https://example.com/api/cdr

# ===============================
# REDIS
# ===============================

REDIS_URL=redis://redis:6379/0

# ===============================
# LOGIN SISTEMA SIP
# ===============================

USERNAME=your_username
PASSWORD=your_password

# ===============================
# MICROSOFT GRAPH (ENVIO DE EMAIL)
# ===============================

GRAPH_TENANT_ID=your_tenant_id
GRAPH_CLIENT_ID=your_client_id
GRAPH_CLIENT_SECRET=your_client_secret

# ===============================
# WHATSAPP / EMAIL SERVICE
# ===============================

EMAIL_WHATS=bot@example.com
PASSWORD_WHATS=your_password

# ===============================
# MYSQL
# ===============================

MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password