version: "3.9"

services:

  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - redis
    volumes:
      - ./output:/app/output
    env_file:
      - .env

  worker:
    build: .
    command: celery -A app.tasks worker --loglevel=info
    depends_on:
      - redis
    volumes:
      - ./output:/app/output
    env_file:
      - .env

  redis:
    image: redis:7
    ports:
      - "6379:6379"
